.headerbox{
    
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%);
    padding:100px;
    

}

.links{
    margin-top:100px;
    margin-bottom:100px;
    text-align:center;
}

body{
    background-image: url('images/frontbg.png');
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0px;
    background-color:antiquewhite;
    font-family: 'VT323', monospace;
    font-size: 500%;
}

h1{
    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
   
}

a {
    text-decoration: none;
    transition: 700ms ease;
    color: white;
    padding-left:150px;
}

a:hover{
    text-decoration: none;
    color:brown;
    font-variation-settings: "wght" 582; 
    letter-spacing: 10px;

}

